html 
    head 
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="/stylesheets/style.css")
    body 
        //h1 PC Partners 
        <div class="navbar">
            ul#topmenu 
                li 
                 h1#mainname PC Partners 
                li 
                 a(href="/") Home
                li 
                    a(href="/products") Products
                li  
                    a(href="/contactus") Contact Us 
                li 
                    a(href='/about') About 
                li 
                    a(href='/users/login') Login      
        </div>
        
        

        
        hr
        block content
        hr
        <p class="footer"> ©Copy Rights Reserved</p>

        