extends ./layouts/master

block content

 h1 About
 p Paklap started their venture physically about 15 years back as a laptop retailer at Technocity Mall,Karachi. Their aim was to make technology available to the masses. The response that Paklap received with their initiative was very overwhelming. Owing to the sales, it could be easily depicted that people were quite content with buying with Paklap, and why not? They provided them the latest tech at the lowest price in Pakistan. time, in their attempt to reach out to the masses, they found out that their laptops, PCs and other accessories were being sold online at much higher prices. Thus, killing the idea of reaching out to the masses of Pakistan, because clearly, according to the statistics, more than 60% of the population is earning just enough to fulfill their basic needs. And having to pay higher prices for tech products is simply not affordable for them!