extends ./layouts/master

block content  
    h1 Contact us
    <div class="row footer-container p-5" style="background-color: #343a40; color: #fff">
        <div class="col-lg-4 col-sm-12">
            <h4>About Us</h4>
            <p>
                The company started out as an online portal where people could find information about a variety of laptops, smartphones and related accessories from the comforts of their home. As the country’s IT and technology sector grew, so did our company.
            </p>
            <button class="btn" type="button" style="color: #fff;">Read More --></button>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h4 class="text-center">Reach Us At</h4>
            <p> 80-Ground Floor, Hafeez Centre Main boulevard Gulberg III, Lahore </p>
            <h4 class="text-center">Contact Us</h4>
            <p>
            <p></p>
            <b>Tel:</b> +92-4235751788 <br>
            <b>Cell:</b> 0321-4426680, 0300-4426680 <br>
            <b>Email:</b> pcpartner786@yahoo.com
            </p>
        </div>
        <div class="col-lg-4 col-sm-12">
        <h4 class="text-center">Location</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.2971485887865!2d74.3428656!3d31.5159977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190458dd8b3dfb%3A0xf4339935ef318b45!2sHafeez%20Centre%2C%20Block%20E1%20Block%20E%201%20Gulberg%20III%2C%20Lahore%2C%20Punjab!5e0!3m2!1sen!2s!4v1654589561112!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </div>
